html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(80, 0, 154);
}

h1{
    margin-top: 10vh;
    margin-bottom: 6vh;
}

h2{
    margin-top: 8vh;
}

input, button{
    border-radius: 5px;
    border: solid rgb(62, 62, 62) 1px;
    padding: 0.3rem;
    color: rgb(80, 0, 154);
}

input{
    color: #000;
}

button{
    cursor: pointer;
}

form{
    width: 90vw;
    margin: auto;
    text-align: left;
    padding: 3rem;
}

.info{
    position: absolute;
    margin-left: 37vw;
}

#success{
    opacity: 0;
} 

#error{
    opacity: 0;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal.open{
  display:block
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  #addNewEvent{
    cursor: pointer;
    position: absolute;
    display: grid;
    grid-template-columns: 30% 70%;
    margin-left: 80%;
    margin-top: -0.5%;
    width: 7%;
    height: 3vh;
    padding: 1%;
    align-items: center;
}

#addNewEvent:hover {
    border: #7c7c7c solid 2px;
    border-radius: 5px;
}

#addNewEvent > h2 {
    margin: 0;
    font-size: medium;
}

  #close {
    margin-left: 96%;
    font-size: x-large;
    cursor: pointer;
  }

  .newEventDeleteButton{
    display: none;
  }

  .saveButton {
    display: none;
    margin-right: 0.5vw;
  }

  .saveButton.show {
    display: block;
  }

  #buttonBox{
    display: flex;
  }